<tr class="addableform-line">
    <td>
        <input type="hidden" name="order[order_details_attributes][<%= uid %>][id]" value="<%= order_detail.id %>">
        <input type="hidden" name="order[order_details_attributes][<%= uid %>][product_id]" value="<%= order_detail.product_id %>" class="product-id">
        <input type="hidden" name="order[order_details_attributes][<%= uid %>][_destroy]" value="">
		<input type="hidden" name="uids[<%= uid %>]" value="<%= uid %>" />
        <strong class="product-name"><%= order_detail.product_name %></strong>
    </td>
    <td>
        <%= erp_form_control("dataselect", {
            name: 'order[order_details_attributes][' + uid + '][warehouse_id]',
            value: order_detail.warehouse_id,
            text: order_detail.warehouse_name,
            placeholder: 'Chá»n Kho',
            url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
            required: true
        }) %>
    </td>
    <td width="7%" class="text-right">
        <%= erp_form_control("number", {
            name: 'order[order_details_attributes][' + uid + '][quantity]',
            value: order_detail.quantity,
            text: order_detail.quantity,
            class: "line_quantity inline",
			required: true,
        }) %>
    </td>
    <td class="text-left">
        <%= erp_form_control("number", {
            name: 'order[order_details_attributes][' + uid + '][price]',
            value: order_detail.price,
            text: order_detail.price,
            class: "line_unit_price inline #{(order_detail.id.present? ? 'edit' : '')}",
        }) %>
    </td>
    <td class="text-left">
        <span class="line_subtotal text-semibold"><Strong><%= format_price(order_detail.subtotal) %></Strong></span>
    </td>
    <td class="text-left">
        <span class="line_total text-bold text-primary"><%= format_price(order_detail.total) %></span>
    </td>
    <td width="1%">
    </td>
    <td width="1%">
    </td>
    <td class="text-right">
        <%= erp_form_control("addableform_remove_button", {
            is_nested_form: true
        }) %>
    </td>
</tr>
