<tr class="addableform-line">
    <td>
        <input type="hidden" name="order[order_details_attributes][<%= uid %>][id]" value="<%= order_detail.id %>">
        <input type="hidden" name="order[order_details_attributes][<%= uid %>][product_id]" value="<%= order_detail.product_id %>" class="product-id">
        <input type="hidden" name="order[order_details_attributes][<%= uid %>][_destroy]" value="">
		<input type="hidden" name="uids[<%= uid %>]" value="<%= uid %>" />
        <strong class="product-name"><%= order_detail.product_name %></strong>
    </td>
    <td width="7%" class="text-right">
        <%= erp_form_control("number", {
            name: 'order[order_details_attributes][' + uid + '][quantity]',
            value: order_detail.quantity,
            text: order_detail.quantity,
            class: "line_quantity inline",
			required: true,
        }) %>
    </td>
    <td class="text-right">
        <%= erp_form_control("number", {
            name: 'order[order_details_attributes][' + uid + '][price]',
            value: order_detail.price,
            text: order_detail.price,
            class: "line_unit_price inline #{(order_detail.id.present? ? 'edit' : '')}",
        }) %>
		<% if order_detail.order.sales? or (params.present? and params[:type] == Erp::Orders::Order::TYPE_SALES_ORDER) %>
			<div class="ajax-box default_price_info"
				data-url="<%= erp_orders.ajax_default_sales_price_info_backend_order_details_path() %>"
				data-control="
					[name='order[customer_id]'],
					[name='order[order_details_attributes][<%= uid %>][product_id]'],
					[name='order[order_details_attributes][<%= uid %>][quantity]'],
					[name='uids[<%= uid %>]']
				">
			</div>
		<% else %>
			<div class="ajax-box default_price_info"
				data-url="<%= erp_orders.ajax_default_purchase_price_info_backend_order_details_path %>"
				data-control="
					[name='order[supplier_id]'],
					[name='order[order_details_attributes][<%= uid %>][product_id]'],
					[name='order[order_details_attributes][<%= uid %>][quantity]'],
					[name='uids[<%= uid %>]']
				">
			</div>
		<% end %>
    </td>
    <td class="text-right">
        <span class="line_subtotal text-semibold"></span>
    </td>
	<% if order_detail.order.sales? or (params.present? and params[:type] == Erp::Orders::Order::TYPE_SALES_ORDER) %>
		<td class="text-right">
			<%= erp_form_control("number", {
				name: 'order[order_details_attributes][' + uid + '][discount]',
				value: order_detail.discount,
				text: order_detail.discount,
				class: "line_discount_amount inline"
			}) %>
		</td>
	<% end %>
    <td class="text-right">
        <span class="line_total text-bold text-primary"></span>
    </td>
    <% if order_detail.order.sales? or (params.present? and params[:type] == Erp::Orders::Order::TYPE_SALES_ORDER) %>
		<td class="text-right payment-for-contact">
			<%= erp_form_control("number", {
				name: 'order[order_details_attributes][' + uid + '][customer_commission]',
				value: order_detail.customer_commission,
				text: order_detail.customer_commission,
				class: "line_customer_commission_amount#{order_detail.id} inline"
			}) %>
			<div class="ajax-box default_customer_commission_info"
				data-url="<%= erp_orders.ajax_default_customer_commission_info_backend_order_details_path(
							#customer_commission: order_detail.customer_commission,
							#customer_id: @order.customer_id,#@order.present? ? @order.customer_id : '',
							#order_detail_id: order_detail.id
							#price: order_detail.price,
							#quantity: order_detail.quantity
							) %>"
				data-control="
					[name='order[customer_id]'],
					[name='order[order_details_attributes][<%= uid %>][product_id]'],
					[name='order[order_details_attributes][<%= uid %>][quantity]'],
					[name='order[order_details_attributes][<%= uid %>][price]'],
					[name='order[order_details_attributes][<%= uid %>][discount]'],
					[name='uids[<%= uid %>]']
				">
			</div>
		</td>
        <td class="text-right payment-for-order">
			<%= erp_form_control("number", {
				name: 'order[order_details_attributes][' + uid + '][commission]',
				value: order_detail.commission,
				text: order_detail.commission,
				class: "line_commission_amount inline"
			}) %>
		</td>
	<% end %>
	<% if Erp::Core.available?('ortho_k') %>
        <td width="5%">
            <%= erp_form_control('select', {
                name: 'order[order_details_attributes][' + uid + '][eye_position]',
                value: order_detail.eye_position,
                options: Erp::Orders::Order.get_eye_positions(),
                include_blank: 'Chọn',
            }) %>
        </td>
        <!--<td width="10%">
            <%= erp_form_control("textarea", {
                name: 'order[order_details_attributes][' + uid + '][serials]',
                value: order_detail.serials,
                text: order_detail.serials,
                rows: 1
            }) %>
        </td>-->
    <% end %>
    <td width="10%">
        <%= erp_form_control("textarea", {
            name: 'order[order_details_attributes][' + uid + '][description]',
            value: order_detail.description,
            text: order_detail.description,
            rows: 1
        }) %>
    </td>
    <td class="text-right">
        <%= erp_form_control("addableform_remove_button", {
            is_nested_form: true
        }) %>
    </td>
</tr>

<% if order_detail.order.sales? or (params.present? and params[:type] == Erp::Orders::Order::TYPE_SALES_ORDER) %>
    <tr class="addableform-more">
        <td colspan="11">
            <% if Erp::Core.available?("ortho_k") %>
                <span class="col-md-3">
                    <div class="todo-tasklist-item-title"> <%= 'Yêu cầu tư vấn hàng thay thế' %>: </div>
                    <div class="todo-tasklist-item-text">
                        <%= erp_form_control('checkbox', {
                            name: 'order[order_details_attributes][' + uid + '][must_same_code]',
                            id: 'order_detail_must_same_code',
                            value: order_detail.must_same_code,
                            not_selected_value: 'false',
                            options: [{value: 'true', text: 'Phải cùng mã hàng'}]
                        }) %>
                        <%= erp_form_control('checkbox', {
                            name: 'order[order_details_attributes][' + uid + '][must_same_diameter]',
                            id: 'order_detail_must_same_diameter',
                            value: order_detail.must_same_diameter,
                            not_selected_value: 'false',
                            options: [{value: 'true', text: 'Phải cùng đường kính'}]
                        }) %>
                    </div>
                </span>
            <% end %>
            <% if !order_detail.scheck_detail.nil? %>
                <% if @order.get_order_stock_check.present? and @order.get_order_stock_check.is_done? %>
                    <span class="col-md-3 text-center">
                        <div class="todo-tasklist-item-title"> <%= t('.available') %>: </div>
                        <% if order_detail.scheck_detail.available? %>
                            <i class="available icon-check"></i>
                        <% else %>
                            <i class="not-available icon-close"></i>
                        <% end %>
                        <% if Erp::Core.available?("ortho_k") %>
                            <% if order_detail.request_product.present? %>
                                <div class="todo-tasklist-item-text"><%= t('.request_product') %>:
                                    <%= backend_product_link(order_detail.request_product) %>
                                </div>
                            <% end %>
                        <% end %>
                    </span>
                    <% if !order_detail.scheck_detail.get_alternative_items.empty? %>
                        <span class="col-md-3">
                            <div class="todo-tasklist-item-title"> <%= t('.alternative_items') %>: </div>
                            <div class="todo-tasklist-item-text">
                                <% order_detail.scheck_detail.get_alternative_items.each do |item| %>
                                    <div>
                                        + <%= backend_product_link(item[:product]) %>
                                        <span class="btn btn-default btn-xs blue alternative_item"
                                            data-id="<%= item[:product].id %>"
                                            data-name="<%= item[:product].name %>"
                                        ><%= t('.change') %></span>
                                    </div>
                                <% end %>
                            </div>
                        </span>
                    <% end %>
                    <% if !order_detail.scheck_detail.note.empty? %>
                        <span class="col-md-3">
                            <div class="todo-tasklist-item-title"> <%= t('.note') %>: </div>
                            <div class="todo-tasklist-item-text">
                                <%= order_detail.scheck_detail.note %>
                            </div>
                        </span>
                    <% end %>
                <% end %>
            <% end %>
        </td>
    </tr>
<% end %>

<script>
    if (typeof orderFormPaymentForChange !== "undefined")
    {
        orderFormPaymentForChange($('.edit_order, .new_order'));
    }
</script>
