<% if !@supplier_price.nil? %>
    <% rand = SecureRandom.hex %>
    <div id="row-<%= rand %>" class="font-yellow text-small text-semibold" style="font-size: 70%"
         title="Chuyên mục: <%= @product.category_name %> / Số lượng: <%= @supplier_price.display_min_max %> / Giá nhập: <%= format_number(@supplier_price.price) %>">
        Mặc định: <%= format_price(@supplier_price.price) %>
        <span hidden class="line_fill_price">
            <%= @supplier_price.price %>
        </span>
    </div>
    <script>
        updateDefaultPrice($('#row-<%= rand %>').closest('tr').first());
    </script>
<% end %>
