<% if !@customer_price.nil? %>
    <% rand = [*5..30000000].sample %>
    <div id="row-<%= rand %>" class="font-yellow" style="font-size: 70%"
         title="Chuyên mục: <%= @customer_price.category_name %> / Số lượng: <%= @customer_price.display_min_max %> / Giá bán: <%= format_number(@customer_price.price) %>">
        Mặc định: <%= format_price(@customer_price.price) %>
        <span hidden class="line_fill_price">
            <%= @customer_price.price %>
        </span>
    </div>
    <script>
        updateDefaultPrice($('#row-<%= rand %>').closest('tr').first());
    </script>
<% end %>
