<% if !@customer_commission.nil? %>
    <% rand = SecureRandom.hex %>
    <div id="row-<%= rand %>" class="font-yellow text-small text-semibold" style="font-size: 70%">
        Mặc định:<br> <%= raw "#{format_price(@customer_commission_amount)}" %>
        <% if @customer_commission.rate.to_f > 0 %>
            (<%= number_with_precision(@customer_commission.rate, strip_insignificant_zeros: true) %>%)
            <span hidden class="line_customer_commission_percent">
                <%= @customer_commission.rate %>
            </span>
        <% end %>
        <span hidden class="ajax_line_customer_commission_amount">
            <%= @customer_commission_amount %>
        </span>
    </div>
    <script>
        updateDefaultCommission($('#row-<%= rand %>').closest('tr').first());
    </script>
<% end %>
