<%= form_for([erp_orders, :backend, order], html: {multipart: true}) do |f| %>
    <% if order.sales? %>
        <% employee_name = 'sales_employee' %>
        <% scope = Erp::Taxes::Tax::TAX_SCOPE_SALES %>
    <% elsif order.purchase? %>
        <% employee_name = 'purchase_employee' %>
        <% scope = Erp::Taxes::Tax::TAX_SCOPE_PURCHASES %>
    <% else %>
        <% employee_name = 'employee' %>
    <% end %>
    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-6">
                                <%= erp_form_control('text', {
                                    label: t('.code'),
                                    name: 'order[code]',
                                    value: order.code,
                                    help: t('.help_code'),
                                    placeholder: t('.placeholder_code'),
                                    errors: order.errors.full_messages_for(:code)
                                }) %>
                            </div>
                            <div class="col-md-6">
                                <%= erp_form_control('date', {
                                    label: t('.order_date'),
                                    name: 'order[order_date]',
                                    value: order.order_date,
                                    placeholder: t('.choose_order_date'),
                                    required: true,
                                    errors: order.errors.full_messages_for(:order_date)
                                }) %>
                            </div>
                        </div>
                        <% if Erp::Core.available?("contacts") %>
                            <% if order.sales? %>
                                <input type="hidden" name="order[supplier_id]" value="<%= order.supplier_id %>" />
                                <%= erp_form_control("dataselect", {
                                    name: 'order[customer_id]',
                                    value: order.customer_id,
                                    text: order.customer_name,
                                    label: t('.customer'),
                                    placeholder: t('.select_customer'),
                                    url: erp_contacts.dataselect_backend_contacts_path(format: 'json', is_customer: true),
                                    create: {
                                        url: erp_contacts.new_backend_contact_path(contact_type: Erp::Contacts::Contact::TYPE_PERSON),
                                        title: t('.create_contact'),
                                        container_selector: '.new_contact',
                                        input_selector: 'input[name="contact[name]"]',
                                        modal_size: "full"
                                    },
                                    edit: {
                                        url: erp_contacts.edit_backend_contact_path(id: ':value'),
                                        title: t('.edit_contact'),
                                        container_selector: '.edit_contact',
                                    },
                                    required: true,
                                    errors: order.errors.full_messages_for(:customer_id)
                                }) %>
                            <% end %>
                            <% if order.purchase? %>
                                <input type="hidden" name="order[customer_id]" value="<%= order.customer_id %>" />
                                <%= erp_form_control("dataselect", {
                                    name: 'order[supplier_id]',
                                    value: order.supplier_id,
                                    text: order.supplier_name,
                                    label: t('.supplier'),
                                    placeholder: t('.select_supplier'),
                                    url: erp_contacts.dataselect_backend_contacts_path(format: 'json', is_supplier: true),
                                    create: {
                                        url: erp_contacts.new_backend_contact_path(contact_type: Erp::Contacts::Contact::TYPE_PERSON),
                                        title: t('.create_contact'),
                                        container_selector: '.new_contact',
                                        input_selector: 'input[name="contact[name]"]',
                                        modal_size: "full"
                                    },
                                    edit: {
                                        url: erp_contacts.edit_backend_contact_path(id: ':value'),
                                        title: t('.edit_contact'),
                                        container_selector: '.edit_contact',
                                    },
                                    required: true,
                                    errors: order.errors.full_messages_for(:supplier_id)
                                }) %>
                            <% end %>
                        <% end %>
                        <%= erp_form_control('textarea', {
                            label: t('.note'),
                            name: 'order[note]',
                            value: order.note,
                            placeholder: t('.placeholder_note'),
                            rows: 1,
                            errors: order.errors.full_messages_for(:note)
                        }) %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <%= erp_form_control("dataselect", {
                            name: 'order[employee_id]',
                            value: order.employee_id,
                            text: order.employee_name,
                            placeholder: t('.choose_employee'),
                            label: t(".#{employee_name}"),
                            url: erp.dataselect_backend_users_path(format: 'json'),
                            required: true,
                            errors: order.errors.full_messages_for(:employee_id)
                        }) %>
                        <div class="row">
                            <div class="col-md-6">
                                <%= erp_form_control("dataselect", {
                                    name: 'order[warehouse_id]',
                                    value: order.warehouse_id,
                                    text: order.warehouse_name,
                                    label: t('.warehouse'),
                                    placeholder: t('.select_warehouse'),
                                    url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
                                    create: {
                                        url: erp_warehouses.new_backend_warehouse_path,
                                        title: t('.create_warehouse'),
                                        container_selector: '.new_warehouse',
                                        input_selector: 'input[name="warehouse[name]"]'
                                    },
                                    edit: {
                                        url: erp_warehouses.edit_backend_warehouse_path(id: ':value'),
                                        title: t('.edit_warehouse'),
                                        container_selector: '.edit_warehouse',
                                    },
                                    required: true,
                                    errors: order.errors.full_messages_for(:warehouse_id)
                                }) %>
                            </div>
                            <div class="col-md-6">
                                <%= erp_form_control("dataselect", {
                                    name: 'order[tax_id]',
                                    value: order.tax_id,
                                    text: order.tax_name,
                                    label: t('.tax'),
                                    placeholder: t('.add_tax'),
                                    url: erp_taxes.dataselect_backend_taxes_path(format: 'json', scope: scope),
                                    required: true,
                                    errors: order.errors.full_messages_for(:tax_id)
                                }) %>
                            </div>
                        </div>
                        <%= erp_form_control("radio", {
                            name: 'order[payment_for]',
                            label: t('.payment_for'),
                            value: @order.payment_for,
                            options: Erp::Orders::Order.get_payment_type_options()
                        }) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-custom ">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_5_1" data-toggle="tab"> <%= t('.order_lines') %> </a>
                        </li>
                        <% if Erp::Core.available?("payments") %>
                            <li>
                                <a href="#tab_5_2" data-toggle="tab"> <%= t('.order_history') %> </a>
                            </li>
                            <li>
                                <a href="#tab_5_3" data-toggle="tab"> <%= t('.order_debt') %> </a>
                            </li>
                        <% end %>
                    </ul>
                    <div class="tab-content order-details">
                        <div class="tab-pane addableform-table active" id="tab_5_1">
                            <%= erp_form_control("addableform", {
                                type: 'table',
                                add_button: t('.add'),
                                partial: 'erp/orders/backend/order_details/order_line_form',
                                partial_url: erp_orders.order_line_form_backend_order_details_path,
                                items: @order.order_details,
                                item: :order_detail,
                                add_control_selector: "input[name='product_id']",
                                add_control: erp_form_control("dataselect", {
                                    name: 'product_id',
                                    placeholder: t('.choose_product'),
                                    label: t('.product'),
                                    help: t('.help_product'),
                                    url: erp_products.dataselect_backend_products_path(format: 'json'),
                                    create: {
                                        url: erp_products.new_backend_product_path,
                                        title: t('.create_product'),
                                        container_selector: '.new_product',
                                        input_selector: 'input[name="product[name]"]'
                                    },
                                    edit: {
                                        url: erp_products.edit_backend_product_path(id: ':value'),
                                        title: t('.edit_product'),
                                        container_selector: '.edit_product',
                                    }
                                }),
                                thead: "<th width=\"15%\">#{t('.product_name')}</th>
                                        <th class='text-right'>#{t('.quantity')}</th>
                                        <th class='text-right'>#{t('.price')}</th>
                                        <th class='text-right'>#{t('.total_amount')}</th>
                                        <th class='text-right'>#{t('.discount')}</th>
                                        <th class='text-right'>#{t('.shopping_fee')}</th>
                                        <th class='text-right'>#{t('.commission_amount')}</th>
                                        <th class='text-right'>#{t('.customer_commission_amount')}</th>
                                        <th class='text-right'>#{t('.total')}</th>
                                        <th width=\"10%\" class='text-right'>#{t('.description')}</th>
                                        <th></th>",
                                no_tr: true
                            }) %>

                            <table class="table">
                                <tr>
                                    <td width="90%" class="text-right text-semibold">Tổng cộng:</td>
                                    <td class="text-right">
                                        <h4>
                                            <span class="order_total text-bold"></span>
                                        </h4>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <% if Erp::Core.available?("payments") %>
                            <div class="tab-pane" id="tab_5_2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4><%= t('.paid_amount') %>: <strong><%= order.paid_amount %></strong></h4>
                                            <h4><%= t('.remain_amount') %>: <strong><%= order.remain_amount %></strong></h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6 right">
                                        <div class="form-group">
                                            <%= erp_component('button/create', {
                                                text: t('.receive'),
                                                href: erp_payments.new_backend_payment_record_path(order_id: order.id, payment_type: Erp::Payments::PaymentRecord::TYPE_RECEIVE)
                                            }) %>
                                            <%= erp_component('button/create', {
                                                text: t('.pay'),
                                                href: erp_payments.new_backend_payment_record_path(order_id: order.id, payment_type: Erp::Payments::PaymentRecord::TYPE_PAY)
                                            }) %>
                                        </div>
                                    </div>
                                </div>
                                <%= erp_datalist(
                                    url: erp_payments.order_payment_record_list_backend_payment_records_path(order_id: order.id),
                                    no_border: true
                                )%>
                            </div>
                            <div class="tab-pane" id="tab_5_3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4><%= t('.expiration_date') %> <strong><%= format_date(order.get_payment_deadline) %></strong></h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6 right">
                                        <div class="form-group">
                                            <%= erp_component('button/create', {
                                                text: t('.extend_debt_deadline'),
                                                href: erp_payments.new_backend_debt_path(order_id: order.id)
                                            }) %>
                                        </div>
                                    </div>
                                </div>
                                <%= erp_datalist(
                                    url: erp_payments.order_debt_list_backend_debts_path(order_id: order.id),
                                    no_border: true
                                )%>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% if order.sales? %>
        <input type='submit' class="btn green-seagreen" name="act_save_with_default" value="<%= t('.save') %>" />
        <input type='submit' class="btn green-seagreen" name="act_save_with_checking" value="<%= t('.save_and_stock_checking') %>" />
    <% end %>
    <% if order.purchase? %>
        <%= erp_component('button/save', {
            text: t('.submit')
        }) %>
    <% end %>
    <%= erp_component('button/cancel', {
        text: t('.cancel'),
        href: erp_orders.backend_orders_path
    }) %>
<% end %>
