<table class="table table-advance table-hover table-striped table-checkable order-column" id="">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("order_number") %>
                <th class="sortable" sort-by='erp_orders_orders.id'>
                    <%= t('.order_number') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("order_date") %>
                <th>
                    <%= t('.order_date') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("customer") %>
                <th>
                    <%= t('.customer') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("supplier") %>
                <th>
                    <%= t('.supplier') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("employee") %>
                <th>
                    <%= t('.employee') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("total") %>
                <th>
                    <%= t('.total') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("remain") %>
                <th>
                    <%= t('.remain') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("deadline") %>
                <th>
                    <%= t('.debt_deadline') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th>
                    <%= t('.status') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th>
                    <%= t('.creator') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_orders_orders.created_at'>
                    <%= t('.created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('.actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: order.id) %>
                </td>
                <% if get_columns(params).include?("order_number") %>
                <td><%= link_to order.code, erp_orders.edit_backend_order_path(order) %></td>
                <% end %>
                <% if get_columns(params).include?("order_date") %>
                <td><%= order.order_date.strftime("%d/%m/%Y") %></td>
                <% end %>
                <% if get_columns(params).include?("customer") %>
                <td><%= order.customer_name %></td>
                <% end %>
                <% if get_columns(params).include?("supplier") %>
                <td><%= order.supplier_name %></td>
                <% end %>
                <% if get_columns(params).include?("employee") %>
                <td><%= order.employee_name %></td>
                <% end %>
                <% if get_columns(params).include?("total") %>
                <td><%= order.total %></td>
                <% end %>
                <% if get_columns(params).include?("remain") %>
                <td><%= order.remain_amount %></td>
                <% end %>
                <% if get_columns(params).include?("deadline") %>
                <td><%= format_date(order.get_payment_deadline) %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td>
                    <%= status_label(order.status) %>
                    <%= status_label(order.cache_payment_status) %>
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                <td>
                    <%= erp_component('avatar', {
                        user: order.creator
                    }) %>
                </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td>
                    <%= order_dropdown_actions(order) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @orders.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>
    
<%= erp_datalist_pagination(@orders) %>
