<% content_for :title do %>
    <%= t('.create') %>
<% end %>

<% content_for :page_title do %>    
    <a href="
        <%=
            if @type == Erp::Orders::Order::TYPE_SALES_ORDER
                erp_sales.backend_sales_orders_path
            elsif @type == Erp::Orders::Order::TYPE_PURCHASE_ORDER
                erp_purchase.backend_purchase_orders_path
            else
                erp_orders.backend_orders_path
            end  
        %>
    ">
    <i class="fa fa-users"></i> <%= t('.orders') %>
    </a> / <%= t('.create') %>
<% end %>

<% content_for :page_toolbar do %>
    <div class="btn-group">
        <div class="clearfix">
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-md-12">
        <% if @order.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <%= render 'form', order: @order %>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>