<% content_for :title_line_1 do %>
    <%= @order.sales? ? 'HÓA ĐƠN BÁN HÀNG' : 'HÓA ĐƠN MUA HÀNG' %>
<% end %>

<% content_for :title_line_2 do %>
    <i>Ngày <%= @order.order_date.strftime('%d') %>
      tháng <%= @order.order_date.strftime('%m') %>
      năm <%= @order.order_date.strftime('%Y') %></i>
    <div>Số: <%= @order.code %></div>
<% end %>

<% content_for :main_info_col_1 do %>
  <p>
    <label><%= @order.sales? ? 'Khách hàng' : 'Nhà CC' %>:</label>
    <span><strong><%= @order.sales? ? @order.customer_name : @order.supplier_name %></strong></span>
  </p>
  <p>
    <label>Địa chỉ:</label>
    <span><%= @order.sales? ? display_contact_address(@order.customer) : display_contact_address(@order.supplier) %></span>    
  </p>
  <p>
    <label>Ghi chú:</label>
    <span><%= @order.note %></span>
  </p>
<% end %>

<% content_for :main_info_col_2 do %>

<% end %>

<% content_for :main_info_col_3 do %>
  <% if @order.doctor.present? %>
    <p>
      <label>BS:</label>
      <span><%= @order.doctor_name %></span>
    </p>
  <% end %>
  <% if @order.patient.present? %>
    <p>
      <label>BN:</label>
      <span><%= @order.patient_name %></span>
    </p>
  <% end %>
  <% if @order.customer.present? and @order.customer.phone.present? %>
    <p>
      <label>ĐT:</label>
      <span><%= @order.customer.phone %></span>
    </p>
  <% end %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <div class="custom-invoice invoice-content-2 bordered">
            <div class="row invoice-body">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <% if get_columns(params).include?("ordinal_number") %>
                                    <th class="invoice-title uppercase"><%= t('.ordinal_number') %></th>
                                <% end %>
                                <% if get_columns(params).include?("items") %>
                                    <th class="invoice-title uppercase cursor-help"
                                        title="<%= t('.item_help') %>">
                                        <%= t('.items') %>
                                    </th>
                                <% end %>
                                <% if get_columns(params).include?("serials") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.serials') %></th>
                                <% end %>
                                <% if get_columns(params).include?("eye_position") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.eye_position') %></th>
                                <% end %>
                                <% if get_columns(params).include?("category") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.category') %></th>
                                <% end %>
                                <% if get_columns(params).include?("units") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.units') %></th>
                                <% end %>
                                <% if get_columns(params).include?("quantity") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.quantity') %></th>
                                <% end %>
                                <% if get_columns(params).include?("price") %>
                                    <th class="invoice-title uppercase text-right"><%= t('.price') %></th>
                                <% end %>
                                <% if get_columns(params).include?("total_amount") %>
                                    <th class="invoice-title uppercase text-right cursor-help"
                                        title="<%= t('.total_amount_help') %>">
                                        <%= t('.total_amount') %>
                                    </th>
                                <% end %>
                                <% if get_columns(params).include?("discount") %>
                                    <th class="invoice-title uppercase text-right"><%= t('.discount') %></th>
                                <% end %>
                                <% if get_columns(params).include?("total") %>
                                    <th class="invoice-title uppercase text-right cursor-help"
                                        title="<%= t('.total_help') %>">
                                        <%= t('.total') %>
                                    </th>
                                <% end %>
                                <% if get_columns(params).include?("note") %>
                                    <th class="invoice-title uppercase text-right"><%= t('.note') %></th>
                                <% end %>
                            </tr>
                            <% @order.order_details.includes(:product).order('erp_products_products.ordered_code').each_with_index do |order_detail,index| %>
                                <tr>
                                    <% if get_columns(params).include?("ordinal_number") %>
                                        <td class="text-center"><%= index+1 %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("items") %>
                                        <td>
                                            <p><%= order_detail.product_name %></p>
                                        </td>
                                    <% end %>
                                    <% if get_columns(params).include?("serials") %>
                                        <td class="text-center"><%= order_detail.serials %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("eye_position") %>
                                        <td class="text-center"><%= order_detail.display_eye_position %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("category") %>
                                        <td class="text-center"><%= order_detail.product_category_name %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("units") %>
                                        <td class="text-center"><%= order_detail.product_unit_name %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("quantity") %>
                                        <td class="text-center sbold"><%= order_detail.quantity %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("price") %>
                                        <td class="text-right sbold"><%= format_number(order_detail.price) %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("total_amount") %>
                                        <td class="text-right sbold"><%= format_number(order_detail.subtotal) %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("discount") %>
                                        <td class="text-right sbold"><%= format_number(order_detail.discount_amount) %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("total") %>
                                        <td class="text-right sbold"><%= format_number(order_detail.total_without_tax) %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("note") %>
                                        <td class="cursor-help" title="<%= order_detail.description %>"><%= truncate(order_detail.description, length: 15) %></td>
                                    <% end %>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<% if get_columns(params).include?("total") or get_columns(params).include?("discount") or get_columns(params).include?("total_amount") or get_columns(params).include?("price") %>
  <div class="table-footer">
      <div class="line">
          <label>Tổng số lượng:</label>
          <span class="text-right"><%= @order.items_count %></span>
      </div>
      <div class="line">
          <label>Cộng tiền hàng:</label>
          <span class="text-right"><%= format_number(@order.total_without_tax) %></span>
      </div>
      <div class="liner">
          <label>Tiền thuế (<%= @order.tax_amount %>%):</label>
          <span class="text-right"><%= format_number(@order.tax_amount) %></span>
      </div>
      <div class="line">
          <label>Tổng tiền thanh toán:</label>
          <span class="text-right"><%= format_number(@order.cache_total) %></span>
      </div>
  </div>
<% end %>
<div class="mt-5 text-small">
    Tổng số tiền (bằng chữ): <strong><%= docso(@order.cache_total) %></strong>
    <br>
    Lưu ý: Cty chỉ thu hồi hàng hóa khi có HĐBH kèm theo.
</div>
<% content_for :footer do %>
    <div class="col text-center" style="width: 25%">
        <p>
            <strong>Người lập phiếu</strong><br/>
            (Họ và tên)
        </p>
        <p class="sign_name"><%= @order.creator_name %></p>
    </div>
    <div class="col text-center" style="width: 25%">
        <p>
            <strong>Người giao hàng</strong><br/>
            <i>(Ký, họ tên)</i>
        </p>
    </div>
    <div class="col text-center" style="width: 25%">
        <p>
            <strong>Người nhận hàng</strong><br/>
            <i>(Ký, họ tên)</i>
        </p>
    </div>
    <div class="col text-center" style="width: 25%">
        <p>
            <strong>Thủ kho</strong><br/>
            <i>(Ký, họ tên)</i>
        </p>
    </div>
<% end %>
