<div class="row">
    <div class="col-md-12">
        <div class="custom-invoice invoice-content-2 bordered">
            <div class="row invoice-head">
                <div class="col-md-6 col-xs-6">
                    <div class="invoice-logo inv-name">
                        <h1 class="uppercase"><%= @order.sales? ? t('.sales_order') : t('.purchase_order') %></h1>
                        <p class="invoice-desc inv-date">
                            <%= t('.day') %> <%= @order.order_date.strftime('%d') %>
                            <%= t('.month') %> <%= @order.order_date.strftime('%m') %>
                            <%= t('.year') %> <%= @order.order_date.strftime('%Y') %>
                        </p>
                        <p class="invoice-desc inv-code"><%= t('.code') %>: <%= @order.code %></p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="company-address">
                        <span class="bold uppercase"><%= Erp::Contacts::Contact.get_main_contact.name %></span>
                        <br/> <%= Erp::Contacts::Contact.get_main_contact.address %>
                    </div>
                </div>
            </div>
            <div class="row invoice-cust-add">
                <div class="col-xs-6">
                    <h2 class="invoice-title uppercase"><%= @order.sales? ? t('.sales_information') : t('.purchase_information') %></h2>
                    <ul class="list-unstyled">
                        <li>
                            <%= @order.sales? ? t('.customer') : t('.supplier') %>:
                            <strong class="invoice-desc">
                                <%= @order.sales? ? @order.customer_name : @order.supplier_name %>
                                <% if Erp::Core.available?('ortho_k') %>
                                    <%= @order.display_customer_info.html_safe %>
                                <% end %>
                            </strong>
                        </li>
                        <li><%= t('.address') %>: <strong class="invoice-desc inv-address">
                        <%= @order.sales? ? @order.customer.address : @order.supplier.address %></strong> </li>
                        <li><%= @order.sales? ? t('.reason_for_export_warehouse') : t('.reason_for_import_warehouse') %>: <strong class="invoice-desc inv-address">
                        <%= @order.note %></strong> </li>
                        <li><%= @order.sales? ? t('.export_warehouse') : t('.import_warehouse') %>: <strong class="invoice-desc"><%= @order.warehouse_name %></strong> </li>
                    </ul>
                </div>
                <div class="col-xs-3 invoice-payment">
                    <h2 class="invoice-title uppercase"><%= t('.payment_information') %></h2>
                    <ul class="list-unstyled">
                        <li><%= t('.order_date') %>: <span><%= @order.order_date.strftime('%d/%m/%Y') %></span> </li>
                        <li><%= t('.payment_deadline') %>: <span>12/08/2017</span> </li>
                        <li><%= t('.paid_amount') %>: <%= format_price(@order.paid_amount) %> </li>
                        <li><%= t('.remain_amount') %>: <%= format_price(@order.remain_amount) %> </li>
                    </ul>
                </div>
                <div class="col-xs-3">
                    <h2 class="invoice-title uppercase"><%= t('.employee') %></h2>
                    <ul class="list-unstyled">
                        <li><strong class="invoice-desc"><%= @order.employee_name %></strong> </li>
                    </ul>
                </div>
            </div>
            <div class="row invoice-body">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <% if get_columns(params).include?("ordinal_number") %>
                                    <th class="invoice-title uppercase"><%= t('.ordinal_number') %></th>
                                <% end %>
                                <% if get_columns(params).include?("items") %>
                                    <th class="invoice-title uppercase cursor-help"
                                        title="<%= t('.item_help') %>">
                                        <%= t('.items') %>
                                    </th>
                                <% end %>
                                <% if get_columns(params).include?("category") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.category') %></th>
                                <% end %>
                                <% if get_columns(params).include?("units") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.units') %></th>
                                <% end %>
                                <% if get_columns(params).include?("quantity") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.quantity') %></th>
                                <% end %>
                                <% if get_columns(params).include?("price") %>
                                    <th class="invoice-title uppercase text-right"><%= t('.price') %></th>
                                <% end %>
                                <% if get_columns(params).include?("total_amount") %>
                                    <th class="invoice-title uppercase text-right cursor-help"
                                        title="<%= t('.total_amount_help') %>">
                                        <%= t('.total_amount') %>
                                    </th>
                                <% end %>
                                <% if get_columns(params).include?("discount") %>
                                    <th class="invoice-title uppercase text-right"><%= t('.discount') %></th>
                                <% end %>
                                <% if get_columns(params).include?("shipping_fee") %>
                                    <th class="invoice-title uppercase text-right"><%= t('.shipping_fee') %></th>
                                <% end %>
                                <% if get_columns(params).include?("total") %>
                                    <th class="invoice-title uppercase text-right cursor-help"
                                        title="<%= t('.total_help') %>">
                                        <%= t('.total') %>
                                    </th>
                                <% end %>
                                <% if get_columns(params).include?("note") %>
                                    <th class="invoice-title uppercase text-right"><%= t('.note') %></th>
                                <% end %>
                            </tr>
                        </thead>
                        <tbody>
                            <% @order.order_details.each_with_index do |order_detail,index| %>
                                <tr>
                                    <% if get_columns(params).include?("ordinal_number") %>
                                        <td>#<%= index+1 %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("items") %>
                                        <td>
                                            <h3><%= order_detail.product_name %></h3>
                                            <p> <%= t('.product_code') + ': ' + order_detail.product_code %> </p>
                                        </td>
                                    <% end %>
                                    <% if get_columns(params).include?("category") %>
                                        <td><%= order_detail.product_category_name %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("units") %>
                                        <td class="text-center"><%= order_detail.product_unit_name %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("quantity") %>
                                        <td class="text-center sbold"><%= order_detail.quantity %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("price") %>
                                        <td class="text-right sbold"><%= format_price(order_detail.price) %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("total_amount") %>
                                        <td class="text-right sbold"><%= format_price(order_detail.subtotal) %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("discount") %>
                                        <td class="text-right sbold"><%= format_price(order_detail.discount_amount) %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("shipping_fee") %>
                                        <td class="text-right sbold"><%= format_price(order_detail.shipping_amount) %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("total") %>
                                        <td class="text-right sbold"><%= format_price(order_detail.total) %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("note") %>
                                        <td class="cursor-help" title="<%= order_detail.description %>"><%= truncate(order_detail.description, length: 15) %></td>
                                    <% end %>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row invoice-subtotal">
                <div class="col-xs-4 text-left">
                    <h2 class="invoice-title uppercase">Cộng tiền hàng</h2>
                    <p class="invoice-desc"><%= format_price(@order.cache_total) %></p>
                </div>
                <div class="col-xs-4 text-center">
                    <h2 class="invoice-title uppercase">Tiền thuế (0%)</h2>
                    <p class="invoice-desc"><%= format_price(0) %></p>
                </div>
                <div class="col-xs-4 text-right">
                    <h2 class="invoice-title uppercase">Tổng tiền thanh toán</h2>
                    <p class="invoice-desc grand-total"><%= format_price(@order.cache_total) %></p>
                </div>
            </div>
        </div>
    </div>
</div>
