<% content_for :title do %>
    <%= t('.show') %> # <%= @order.code %>
<% end %>

<% content_for :page_title do %>    
    <a href="
        <%=
            if @type == Erp::Orders::Order::TYPE_SALES_ORDER
                erp_sales.backend_sales_orders_path
            elsif @type == Erp::Orders::Order::TYPE_PURCHASE_ORDER
                erp_purchase.backend_purchase_orders_path
            else
                erp_orders.backend_orders_path
            end  
        %>
    ">
    <i class="glyphicon glyphicon-shopping-cart"></i> <%= t('.orders') %>
    </a> / <%= t('.show_order') %> # <%= @order.code %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_orders.new_backend_order_path(type: @type),
        class: 'btn-noborder'
    }) %>
    <%= erp_component('button/edit', {
        text: t('.edit'),
        href: erp_orders.edit_backend_order_path(@order)
    }) %>
    <%= erp_component('button/actions', {
        actions:
        [
            {
                text: '<i class="fa fa-check"></i> '+t('confirmed'),
                url: erp_orders.set_confirmed_backend_orders_path(id: @order.id),
                data_method: 'PUT',
                hide: false,
                class: 'link-method'
            },
            {divider: true},
            {
                text: '<i class="fa fa-file-excel-o"></i> '+t('.export_excel'),
                url: '',
                data_method: 'PUT',
                hide: false,
                class: 'link-method'
            },
            {
                text: '<i class="fa fa-file-pdf-o"></i> '+t('.export_pdf'),
                url: '',
                data_method: 'PUT',
                hide: false,
                class: 'link-method'
            },
            {divider: true},
            {
                text: '<i class="glyphicon glyphicon-trash"></i> '+t('.set_deleted'),
                href: erp_orders.set_deleted_backend_orders_path(id: @order.id),
                data_method: 'PUT',
                data_confirm: t('.deleted_confirm'),
                class: 'link-method'
            }
        ],
        text: t('.options'),
        class: 'btn-noborder'
    }) %>
<% end %>

<%= erp_datalist(
    url: erp_orders.show_list_backend_orders_path(id: @order.id),
    columns: [
        {
            text: t('.ordinal_number'), name: 'ordinal_number', value: true, checked: true
        },
        {
            text: t('.items'), name: 'items', value: true, checked: true
        },
        {
            text: t('.category'), name: 'category', value: true, checked: true
        },
        {
            text: t('.units'), name: 'units', value: true, checked: true
        },
        {
            text: t('.quantity'), name: 'quantity', value: true, checked: true
        },
        {
            text: t('.price'), name: 'price', value: true, checked: true
        },
        {
            text: t('.total_amount'), name: 'total_amount', value: true, checked: true
        },
        {
            text: t('.discount'), name: 'discount', value: true, checked: true
        },
        {
            text: t('.shipping_fee'), name: 'shipping_fee', value: true, checked: true
        },
        {
            text: t('.total'), name: 'total', value: true, checked: true
        },
        {
            text: t('.note'), name: 'note', value: true, checked: false
        }
    ]
) %>