<% content_for :title do %>
    <%= t('.show') %> # <%= @order.code %>
<% end %>

<% content_for :page_title do %>
    <a href="
        <%=
            if @order.sales?
                erp_sales.backend_sales_orders_path
            elsif @order.purchase?
                erp_purchase.backend_purchase_orders_path
            else
                erp_orders.backend_orders_path
            end
        %>
    ">
    <i class="glyphicon glyphicon-shopping-cart"></i> <%= t('.orders') %>
    </a> / <%= t('.show_order') %> # <%= @order.code %>
    <%= status_label(@order.status) %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t(".#{@order.sales? ? 'create_sales_order' : 'create_purchases_order'}"),
        href: erp_orders.new_backend_order_path(type: @type),
        class: 'btn-noborder'
    }) %>

        <%= erp_component('button/edit', {
            text: t('.edit'),
            href: erp_orders.edit_backend_order_path(@order)
        }) if can? :update, @order %>

    <%= erp_component('button/actions', {
        actions:
        [
            {
                text: '<i class="fa fa-check-square-o"></i> '+t('.confirm'),
                url: erp_orders.set_confirmed_backend_orders_path(id: @order.id),
                data_method: 'PUT',
                data_confirm: t('.set_confirmed_confirm'),
                hide: !(can? :confirm, @order),
                class: 'ajax-link'
            },
            {
                text: '<i class="fa fa-close"></i> '+t('.delete'),
                href: erp_orders.set_deleted_backend_orders_path(id: @order.id),
                data_method: 'PUT',
                data_confirm: t('.deleted_confirm'),
                hide: !(can? :delete, @order),
                class: 'ajax-link'
            },
        ],
        text: t('.options'),
        class: 'btn-noborder'
    }) %>
<% end %>

<form class="global-filter">
    <div class="row top-datalist">        
        <div class="col-md-3">
            <%= erp_form_control("select", {
                name: 'print_size',
                label: 'Khổ giấy',
                placeholder: 'Khổ in',
                options: [
                    {text: "Mặc định", value: 'auto'},
                    {text: "A4", value: 'A4'},
                    {text: "A5", value: 'A5'},
                ],
            }) %>
        </div>
    </div>
</form>

<%= erp_datalist(
    url: erp_orders.show_list_backend_orders_path(id: @order.id),
    columns: [
        {
            text: t('.ordinal_number'), name: 'ordinal_number', value: true, checked: true
        },
        {
            text: t('.items'), name: 'items', value: true, checked: true
        },
        {
            text: t('.serials'), name: 'serials', value: true, checked: true
        },
        {
            text: t('.eye_position'), name: 'eye_position', value: true, checked: true
        },
        {
            text: t('.category'), name: 'category', value: true, checked: false
        },
        {
            text: t('.units'), name: 'units', value: true, checked: true
        },
        {
            text: t('.quantity'), name: 'quantity', value: true, checked: true
        },
        {
            text: t('.price'), name: 'price', value: true, checked: true
        },
        {
            text: t('.total_amount'), name: 'total_amount', value: true, checked: true
        },
        {
            text: t('.discount'), name: 'discount', value: true, checked: true
        },
        {
            text: t('.total'), name: 'total', value: true, checked: true
        },
        {
            text: t('.note'), name: 'note', value: true, checked: false
        }
    ]
) %>
